body {
  background: #fdfdfd;
}

.invalid-feedback {
  display: block;
}

.icon-disabled {
  pointer-events: none;
}

.nav-link,
.page-item {
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #007bff;
  border-bottom: 16px solid #007bff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
  margin: 50px auto 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

