$error: #dc3545;

body {
  background: #fdfdfd;
}

.invalid-feedback {
  display: block;
}

.card-img--height {
  max-height: 161.84px;
  object-fit: cover;
}

input.invalid {
  border-color: $error;
}
